beautifulsoup4==4.15.0
certifi==2026.2.25
charset-normalizer==3.4.6
cssselect==1.4.0
greenlet==3.3.2
idna==3.11
lxml==6.0.2
orjson==3.11.8
playwright==1.58.0
pyee==13.0.1
requests==2.33.0
scrapling==0.4.3
shortuuid==1.0.13
soupsieve==2.8.4
tld==0.13.2
typing_extensions==4.15.0
ulid-py==1.1.0
urllib3==2.6.3
w3lib==2.4.1
